{% extends 'base.html' %}

{% block title %} about {% endblock title %} 

{% block body %} 

<section class="about-area">
    <h2 class="heading">01. About Me</h2>
    <div class="inner">
      <div class="about-text">
        <div>
         <p>Hello! I'm Harshil Patel, Self-Taught Certified Developer based in London, UK.</p>
         <p>I enjoy creating things that live on the internet, whether that be websites, applications, or anything in between. My goal is to always build products that provide pixel-perfect, performant experiences. In my free time I work on developing and maintaining my own personal projects, such as my blog or a few side projects I have listed below.</p>
         <p>i have done my master of project management from
           <a href="https://www.bpp.com/"> BPP University. </a>
           currently i'm working in 
           <a href="https://entaingroup.com/"> Entain Group. </a>
         
           <p>i have achieved certificate in Python from
             <a href="https://www.credly.com/badges/3f425d6f-1ff2-406a-a4f1-559170055c0a"> Python Institute </a>
             and Cloud Practitioner Certificate from
             <a href="https://www.credly.com/badges/09644c00-7c7b-43f6-82a8-70f0f036648d?source=linked_in_profile"> AWS. </a>
 
         </p>
         <p>Here are a few technologies I've been working with recently:</p>
        </div>
        <ui class="skills-list">
         <li class="skills"> AWS </li>
         <li class="skills"> Python </li>
         <li class="skills"> CSS </li>
         <li class="skills"> HTML </li>
         <li class="skills"> Django </li>
         <li class="skills"> Git </li>
         <li class="skills"> Github </li>
       </ui>
      </div>
      <div class="about-pic">
        <img src="../static/img/Graduation.jpeg" alt="pic" class="my-pic">
      </div>
    </div>
  </section>

 {% endblock body %}


